@font-face {
  font-family: "TDGraphik-Medium";
  src: url("./public/fonts/TDGraphik-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TDGraphik-Regular";
  src: url("./public/fonts/TDGraphik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TDGraphik-Semibold";
  src: url("./public/fonts/TDGraphik-Semibold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TDGraphik-Semibold-Italic";
  src: url("./public/fonts/TDGraphik-Semibold-Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

:root {
  --spacing-lg: 2rem;
  --spacing-md: 1rem;
  --spacing-sm: 0.5rem;
  /* fonts */
  --font-size-regular: 1.25rem;
  --font-weight-semibold: 600;
  --font-regular: "TDGraphik-Regular";
  --font-semibold: "TDGraphik-Medium";
  --font-bold: "TDGraphik-Semibold";
  --font-bold-italic: "TDGraphik-Semibold-Italic";
  /* colours */
  --light-orange: rgba(249, 229, 192, 1);
  --orange: rgba(255, 149, 0, 1);
  --grey-fill: rgba(247, 247, 247, 1);
  --grey-border: rgba(204, 204, 204, 1);
  --light-green: rgba(229, 241, 212, 1);
  --td-green: #00b624;
  --off-white: rgba(249, 249, 249, 1);
}
html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bold);

}

.container {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  /* min-height: 100vh; */
  gap: var(--spacing-lg);
}

p, button, a, li {
  font-size: var(--font-size-regular);
  font-family: var(--font-regular);
  text-decoration: none;
  display: block;
}

label {
  font-family: var(--font-regular);
}

.logo {
  width: 200px;
  height: auto;
  margin-top: var(--spacing-sm); 
  margin-left: var(--spacing-sm);
}


.order-form {
  background: var(--light-orange);
  padding: var(--spacing-sm);
  /* width: 100%; */
}

.order-form .error {
  color: red;
  font-size: 0.9rem;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-semibold);
  margin-bottom: 0;
  margin-top: 0;
  grid-column-start: 2;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.form-group-label {
  display: flex;
  align-items: center;
}

.number {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semibold);
  /* margin-right: var(--spacing-sm); */
  margin-top: 0;
  margin-bottom: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-semibold);
  color: #fff;
  background: var(--td-green);
  font-family: var(--font-semibold);
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  /* start in 2nd column */
  grid-column-start: 2;
}

.form-control .text-input {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-sm);
}

.form-control .text-input input[type="text"] {
  border: 1px solid var(--grey-border);
  background: var(--grey-fill);
  padding: 0.5rem;
  font-size: var(--font-size-regular);
  width: 250px;
}

.form-control .text-input input[type="email"], .form-control .text-input input[type="password"] {
  border: 1px solid var(--grey-border);
  background: var(--grey-fill);
  padding: 0.5rem;
  font-size: var(--font-size-regular);
  width: 100%;
}

.form-control.radio-group {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  justify-content: start;
  gap: var(--spacing-sm);
}

.form-control.radio-group label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  font-size: var(--font-size-medium);
  gap: var(--spacing-sm);
}

input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: var(--grey-fill);
  /* outline: 1px solid var(--grey-border); */
  border: 1px solid var(--grey-border);
  width: var(--font-size-regular);
  height: var(--font-size-regular);
  cursor: pointer;
}

input[type="radio"]:checked {
  background: var(--td-green);
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: 40px auto;
  gap: var(--spacing-sm) var(--spacing-sm);
  align-items: center;
}

.btn {
  display: block;
  background: var(--orange);
  color: #000;
  border: none;
  padding: 0.75rem 4.75rem;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn.btn--green {
  background: var(--td-green);
  color: #000;
}
.order-form .btn {
  margin-top: var(--spacing-lg);
  margin-left: auto;
}


.title-section {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100%;
  gap: var(--spacing-lg);
}

.title-section p {
  margin-top: 0;
  margin-bottom: var(--spacing-lg);
  text-align: center;
}

/* wired component */

.wired-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: var(--light-green);
}

.wired-component svg {
  height: 150px;
  width: auto;
}

.wired-component h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-semibold);
  margin-top: 0;
  margin-bottom: 0;
text-align: center;
}

.wired-component h1 em {
  font-family: var(--font-semibold-italic);
}

/* Order Confirmation */
.order-confirmation {
  background: var(--light-green);
  width: 100vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.order-confirmation .message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
}

.order-confirmation h1 {
  font-size: 3rem;
  font-family: var(--font-regular);
  text-align: center;
  font-weight: 400;
  margin: 1rem 0;
}

.order-confirmation img {
  
  margin-top: var(--spacing-md);
  margin-left: var(--spacing-md);
}

.order-confirmation svg {
  max-height: 255px;
  width: auto;
}

.lead {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}

/* orders */
.orders {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: var(--light-green);
  min-height: 100vh;
}

.orders h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-semibold);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.orders ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.orders li {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  background: var(--grey-fill);
  border: 1px solid var(--grey-border);
}

.orders li.complete {
  filter: grayscale(100%);
  opacity: 0.65;
}

.orders li p {
  text-transform: capitalize;
  font-weight: 300;
}

.orders .order-for p {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-semibold);
  margin-top: 0;
  margin-bottom: 0;
}

.orders .order-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.orders .order-details p {
  font-size: var(--font-size-md);
  margin-top: 0;
}

.orders .order-details small {
  display: block;
  margin-top: var(--spacing-sm);
}

/* login page */

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: var(--light-green);
  min-height: 100vh;
}

.login-page .form-control {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

/* Admin */

.admin-page {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: var(--light-green);
  min-height: 100vh;
}

.admin-page .stats {
  display: flex;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
}

.admin-page .stats .stat {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  background: var(--grey-fill);
  border: 1px solid var(--grey-border);
}

.admin-page .stats .stat p {
  font-size: var(--font-size-md);
  margin-top: 0;
  text-align: center;
}

/* index */

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: var(--light-green);
  min-height: 100vh;
}

.index .logo {
  margin-top: var(--spacing-sm);
  margin-left: var(--spacing-sm);
}

.index .main-content svg {
  height: 200px;
  width: auto;
}

.index .main-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: center;
}

.index .link-section {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: center;
  margin: 0 auto;
}

/* survey */

.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
  background: var(--light-green);
  min-height: 100vh;
}

.survey .form-group {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: var(--spacing-md);
  margin-bottom: 3rem;
}
.survey h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-semibold);
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.survey h2 {
  /* font-size: var(--font-size-lg); */
  text-align: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: var(--td-green);
  color: #fff;
  border: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.circle:hover {
  opacity: 0.6;
}

.circle.red {
  background: #ff0000;
}

.circle.light-red {
  background: #ff7f7f;
}

.circle.yellow {
  background: #f2e600;
}

.circle.light-green {
  background: #5CCD6B;
}

.circle.green {
  background: var(--td-green);
}

@media screen and (min-width: 1168px) {
  .logo {
    width: 300px;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    /* flex-direction: row;
    justify-content: space-between; */
    grid-template-columns: 450px auto;
    gap: 4rem;
  }

  .title-section {
    justify-content: space-between;
  }

  .form-control .text-input input[type="email"] {
    width: 350px;
  } 

  .form-control {
    gap: var(--spacing-md);
  }

  .grid {
    gap: var(--spacing-sm) var(--spacing-lg);
  }

  .wired-component h1 {
    font-size: 4rem;
  }

  .wired-component svg {
    height: 190px;
  }

  .title-section p {
    text-align: left;
  }

  .order-confirmation h1 {
    font-size: 7rem;
  }

  .lead {
    font-size: 3rem;
  }

  .index .main-content {
    min-height: auto;
  }
}

@media screen and (min-width: 500px) {
  .form-control.radio-group {
    grid-template-columns: repeat(3, 180px);

  }

  .container {
    display: grid;
    padding: var(--spacing-lg);

  }

  .order-form {
    padding: var(--spacing-lg);
  }

  .form-control.radio-group label {
    font-size: var(--font-size-regular);
  }
}